html, body {
  height: 100%;        /* make body fill screen */
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #0e3958;
}

main {
  flex: 1;             /* pushes footer down */
}

header{
    margin : 0; 
    background-color: #f7a5a5;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color : #0e3958; 
    border-color: #f7a5a5;; 
    border-style : solid; 
    border-width: 15px;
    cursor: pointer;
}

#bookCreation{
    color : white; 
    background-color: #5d688a;
    text-align: center; 
    padding: 15px;
}

#bookCreation > h3{
    margin : 0; 
    padding-bottom: 15px;
}

form {
    font-weight: bold;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    gap: 10px;               
}

.inline-row{
    display : flex; 
    align-items: center;
    gap : 8px; 
}

form > input {
    background-color: #ffdbb6;
    border-style: none;
    border-radius: 5px;
    padding : 1rem 5rem 1rem 5rem; ; 
}
 form > textarea{
    background-color: #ffdbb6;
    border-style: none;
    border-radius: 5px;
    width : 50%; 
    height : 100px; 
 }

.inline-row > select{
    background-color: #ffdbb6;
    border-radius: 5px;
    padding : 5px; 
 }

 button {
    border-radius: 5px;
    border-style: none;
    padding : 10px; 
    background-color: #f4eeff;
    color : #5d688a;
    font-weight: bolder;
    margin : 10px 20px 10px 0px;
    cursor: pointer;
    
 }

 button:hover {
    background-color: #3a425a;
    color : white; 
    transition: all 0.5s ease
 }

 #bookShown {
    background-color: #0e3958;
    color : white; 
    padding : 20px; 
 }

#viewEdit {
    cursor: pointer;
}
#viewEdit {
    display : flex; 
}

h4:hover {
    color : bisque; 
    transition: all 0.5s ease;
}
#viewEdit > #sort{
    margin-left: auto;
}


 #main {
    display: flex;
    justify-content: space-evenly;
    padding : 20px; 
    opacity: 1;
    transition: opacity 0.3s ease;
}

#main.fade-out {
  opacity: 0;
}

.books{
    background-color: #f7a5a5;
    display : inline-block; 
    color: whitesmoke;
    border-radius: 10px;
    padding : 10px 30px 20px 30px;
    width : auto;
    border-style: none;
}

footer {
  background-color: #ffdbb6;
  color: black;
  text-align: center;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-container a {
  color: black;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

