html, body {
  height: 100%;        /* make body fill screen */
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #0e3958;
}

main {
  flex: 1;             /* pushes footer down */
}

button {
    border-radius: 10px;
    border-style: none;
    padding : 20px; 
    background-color: #f4eeff;
    color : #5d688a;
    font-weight: bolder;
    margin : 10px 20px 10px 10px;
    cursor: pointer; 
 }

 button:hover {
    background-color: #3a425a;
    color : white; 
    transition: all 0.5s ease
 }

#noteDetail {
    display : flex; 
    flex-direction: column;
    gap : 10px; 
}
#noteDetail  div{
    background-color: #f7a5a5;
    font-size: larger; 
    color: whitesmoke;
    display: flex;
    border-radius: 10px;
    padding : 10px 30px 20px 30px;
    width : auto;
    border-style: none;
    margin : 10px; 
 }

 #noteDetail div > button {
    margin-left: auto;
 }

 #plus {
    font-weight: bold;
    display: flex;
    background-color: #5d688a;
    margin : 15px; 
    border-radius: 10px;
    padding : 20px; 
    flex-direction: column;   
    align-items: center;      
    gap: 10px;               
}
#plus > label {
    font-size: larger;
    color: whitesmoke;
}

#plus > textarea{
    background-color: #ffdbb6;
    border-style: none;
    border-radius: 5px;
    width : 50%; 
    height : 50px; 
}

#plus > button {
    padding : 10px 20px 10px 20px; 
}

footer {
  background-color: #ffdbb6;
  color: black;
  text-align: center;
  padding: 10px;
}

.footer-container > ul {
  display: flex;
  justify-content: space-around;
}

.footer-container a {
  color: black;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
  color: grey;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}